<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Prueba Tecnica A: Consumir Api</a>
    
  
    <div class="" id="">
      
      <form class="form-inline my-2 my-lg-0">
        <div class="row">
                      <div class="col-xs-11 col-sm-6" >
                          <div class="form-group">
        <label class="avisos">N° de Usuarios registrados</label>
        <input class="form-control mr-sm-2" type="search" [value]="Nuser" disabled>
        
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-5" >
                          <div class="form-group">
        <label class="avisos">N° de Posts deUsuarios </label>
        <input class="form-control mr-sm-2" type="search" [value]="NPosts" disabled>
        
                          </div>
                      </div>
        </div>
    </form>
    </div>
</nav>
<br>


